In [ ]:
# !pip install openpyxl

Collecting openpyxl
  Obtaining dependency information for openpyxl from https://files.pythonhosted.org/packages/c0/da/977ded879c29cbd04de313843e76868e6e13408a94ed6b987245dc7c8506/openpyxl-3.1.5-py2.py3-none-any.whl.metadata
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Obtaining dependency information for et-xmlfile from https://files.pythonhosted.org/packages/c1/8b/5fe2cc11fee489817272089c4203e679c63b570a5aaeb18d852ae3cbba6a/et_xmlfile-2.0.0-py3-none-any.whl.metadata
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 2.5 MB/s eta 0:00:00a 0:00:01
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [1]:
import pandas as pd
file_path = "Observations 2012-2025.xlsx"
df = pd.read_excel(file_path)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        0 non-null      float64
 1   Unnamed: 1        0 non-null      float64
 2   Aigrette bleue    86 non-null     object
 3   Egretta caerulea  86 non-null     object
 4   Migrateur         85 non-null     object
dtypes: float64(2), object(3)
memory usage: 3.5+ KB

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,Aigrette bleue,Egretta caerulea,Migrateur
0,NaN,NaN,Aigrette garzette,Egretta garzetta,Migrateur
1,NaN,NaN,Aigrette neigeuse,Egretta thula,Migrateur
2,NaN,NaN,Aigrette tricolore,Egretta tricolor ruficollis,Migrateur
3,NaN,NaN,Amazone aourou,Amazona amazonica,Exogène introduit par l'homme
4,NaN,NaN,Astrild à joues orange,Estrilda melpoda,NaN

In [4]:
all_sheets = pd.read_excel(file_path, sheet_name=None)
for sheet_name, df in all_sheets.items():
    print(f"'{sheet_name}': {list(df.columns)}")
    print()

'ESPECES': ['Unnamed: 0', 'Unnamed: 1', 'Aigrette bleue', 'Egretta caerulea', 'Migrateur']

'GPS-MILIEU': ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'WGS84 UTM 20', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7']

'NOM FRANÇAIS': ['Nom observateur', 'code département', 'Nom transect', 'date', '1er, 2e ou 3e passage', 'nuages', 'pluie', 'vent', 'visibilité', 'N° point', 'heure début', 'ESPECE', 'distances de contact', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'totaux', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25']