In [1]:
import pandas as pd
file_path = "Observations 2012-2025.xlsx"
df = pd.read_excel(file_path)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        0 non-null      float64
 1   Unnamed: 1        0 non-null      float64
 2   Aigrette bleue    86 non-null     object
 3   Egretta caerulea  86 non-null     object
 4   Migrateur         85 non-null     object
dtypes: float64(2), object(3)
memory usage: 3.5+ KB

## NOM FRANCAIS 表

In [20]:
# 定义完整的列名列表
column_names = [
    'Nom_observateur',
    'code_departement', 
    'Nom_transect',
    'date',
    'passage',  # 1er, 2e ou 3e passage
    'nuages',
    'pluie', 
    'vent',
    'visibilite',
    'N_point',
    'heure_debut',
    'ESPECE',
    'dist_25m_Auditif',
    'dist_25m_Visuel',
    'dist_50m_Auditif', 
    'dist_50m_Visuel',
    'dist_100m_Auditif',
    'dist_100m_Visuel',
    'dist_plus100m_Auditif',
    'dist_plus100m_Visuel',
    'vol',
    'total_Auditif',
    'total_Visuel_sans_vol',
    'total_AV_sans_vol',
    'total_AV_avec_vol'
]

In [28]:
obs_data = pd.read_excel(
    file_path,
    sheet_name='NOM FRANÇAIS',
    header=None,      
    skiprows=3,       
    names=column_names,
    index_col=False
)

In [29]:
obs_data.shape

(114495, 25)

In [31]:
obs_data.head()

,Nom_observateur,code_departement,Nom_transect,date,passage,nuages,pluie,vent,visibilite,N_point,...,dist_50m_Visuel,dist_100m_Auditif,dist_100m_Visuel,dist_plus100m_Auditif,dist_plus100m_Visuel,vol,total_Auditif,total_Visuel_sans_vol,total_AV_sans_vol,total_AV_avec_vol
0,BELFAN David,972.0,Fond l'Etang,2014-04-12 00:00:00,1,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1,1.0
1,BELFAN David,972.0,Fond l'Etang,2014-04-12 00:00:00,1,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1,1.0
2,BELFAN David,972.0,Fond l'Etang,2014-04-12 00:00:00,1,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,2,2.0
3,BELFAN David,972.0,Fond l'Etang,2014-04-12 00:00:00,1,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1,1.0
4,BELFAN David,972.0,Fond l'Etang,2014-04-12 00:00:00,1,2,1.0,1.0,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,1,1.0

## ESPECES表

In [37]:
# ESPECES表的列名定义
species_column_names = [
    'nom_francais',     # 法语名称 
    'nom_scientifique', # 学名 
    'statut_migratoire' # 迁徙状态 
]

# 读取ESPECES工作表
species_data = pd.read_excel(file_path, sheet_name='ESPECES', header=0, names=species_column_names)

species_data.head()

,nom_francais,nom_scientifique,statut_migratoire
0,Aigrette garzette,Egretta garzetta,Migrateur
1,Aigrette neigeuse,Egretta thula,Migrateur
2,Aigrette tricolore,Egretta tricolor ruficollis,Migrateur
3,Amazone aourou,Amazona amazonica,Exogène introduit par l'homme
4,Astrild à joues orange,Estrilda melpoda,NaN

## GPS-MILIEU表

In [38]:
# GPS-MILIEU表的列名定义
site_column_names = [
    'transect_name',    # 样线名称 (如 Aéroport)
    'utm_x',           # UTM X坐标 (如 714593)
    'utm_y',           # UTM Y坐标 (如 1614233)
    'habitat_type',    # 栖息地类型 (如 Mangrove)
    'site_id',         # 站点ID (如 S1)
    'point_id'         # 点位ID (如 SIPI, S1P2)
]

In [43]:
site_data = pd.read_excel(file_path, sheet_name='GPS-MILIEU',skiprows=2, names=site_column_names)

In [47]:
site_data.head()

  transect_name   utm_x    utm_y habitat_type site_id point_id
0      Aéroport  714416  1614194     Mangrove      S1     S1P2
1      Aéroport  714133  1614141     Mangrove      S1     S1P3
2      Aéroport  713914  1614103     Mangrove      S1     S1P4
3      Aéroport  713719  1614062     Mangrove      S1     S1P5
4      Aéroport  713559  1614036     Mangrove      S1     S1P6